body {
    background-color: #efbcbb;
    color:  #efbcbb;
    margin: 0;
    padding: 0;
}

#header-section {
    height: 100vh;
}

#outer-nav-div {
    height: 10%;
}

#hero-image-div {
    max-height: 90%;
}

.section {
    min-height: 100vh;
    max-width: 100vw;
}

/* header { */
    /* width: 95%;
} */

#logo-div {
    width: 20%;
}

#nav-div {
    width: 60%;
    text-align: center;
}

#hapa-girl-image {
    width: 100%;
}

.nav-items {
    color: black;
    font-size: 1.17em;
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

.nav-items a {
    color: black;
    text-decoration: none;
}

.header-div {
    display: inline-block;
    float: left; 
}

#nav-icons-div {
    width: 20%;
    text-align: center;
    margin-top: 21px;
}

.nav-icons {
    color: black;
    font-size: 40px;
    padding: 0px 20px;
}

#hero-image {
    width: 100%;
    height: 100%;
}

.about {
    text-align: center;
    background: black;
    /* padding: 35px 35px; */
    padding-top: 50px;
    height: 600px;
}

#max-about-div {
    max-width: 760px;
    margin: 0 auto;
}

#hapa-girl-image-about-section {
    width: 20%;
}

.body-text {
    padding: 50px 0px;
}

#hapa-love-text {
    font-size: 1.7em;
    font-weight: bold;
}

/* Instagram Feed */
#hashtag {
    text-align: center;
}

#hashtag-image { 
    width: 50px;
}

#hapagirl-hashtag {
    color: black;
    text-align: center;
    font-size: 60px;
    display: inline-block;
}

/* #hapagirl-text {
    font-size: 3em;
    font-family: 'Jenna Sue';
} */

#pixlee_widget_iframe3956a86c-3705-4da4-404e-f4a5af596c9f {
    max-width: 1200px;
}

#pixlee_container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0; */
}

#widget {
    /* margin-left: 10%; */
}

.tap2shop_mobile #tap2shop_widget .tap2shop_frame ul .tap2shop_photo_block {
    width: 20.5%;
    padding-top: 20.5%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.tap2shop_mobile #tap2shop_widget .tap2shop_frame ul .tap2shop_photo_block:nth-of-type(even) {
    /* margin-right: 0; */
    /* margin-right: 1%; */
}

/* Footer */
#first-footer-div {
    height: 23%;
    width: 100%;
    background-color: black;
    text-align: center;
}

#hapa-div {
    display: inline-block;
}

#subscribe-div {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
}

#subscribe-input-div {
    display: inline-block;
    height: 50px;
    width: 300px;
    background-color: white;
    color: black;
    vertical-align: top;
}

#subscribe-input {
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

#subscribe-button-div {
    display: inline-block;
}

#subscribe-button {
    background-color: #efbcbb;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 200px;
}

#main-footer-div {
    height: 62%;
    width: 100%;
}

#description-wrapper {
    height: 100%;
    width: 45%;
    display: inline-block;
    float: left;
}

#black-wrapper {
    height: 80%;
    width: 90%;
    background-color: black;
    margin: auto;
    margin-top: 8.5%;
    margin-left: 18%;
}

#video-wrapper {
    height: 100%;
    width: 55%;
    display: inline-block;
}

#youtube-video {
    height: 65%;
    width: 80%;
    margin-top: 10%;
    border: 9px solid #dd8f8f;
    padding: 0;
}

#end-footer-div {
    height: 15%;
    width: 100%;
    background-color: black;
}

#social-icons-div {
    text-align: center;
}

.social-icons {
    color: #efbcbb;
    font-size: 40px;
    padding: 0px 40px;
    margin-top: 55px;
}


/* Shop Page */
#shop-outer-nav-div {
    height: 20%;
}

#shop-links-div {
    float: left;
    text-align: center;
    width: 13%;
}

.shop-items {
    color: black;
    font-size: 1.17em;
    list-style: none;
    padding: 15px 20px;
    text-transform: uppercase;
}

.shop-items a {
    color: black;
    text-decoration: none;
}

#shop-nav-div {
    /* margin-top: 60px; */
}

#clothes-div {
    display: inline-block;
    width: 87%;
}

#big-thumbnail-div {
    width: 50%;
    float: left;
}

#big-thumbnail {
    width: 75%;
    float: right;
}

#side-checkout-div {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
}

#checkout-label-div {
    width: 100%;
    text-align: center;
    color: black;
}

#clothes-size-div {
    text-align: center;
    margin-top: 5%;
}

.size-box {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    display: inline-block;
    color: black;
    text-align: center;
    background-color: #dd8f8f;
}

#cart-button-div {
    text-align: center;
    margin-top: 5%;
}

#cart-button {
    background-color: black;
    border: none;
    color: white;
    height: 60px;
    width: 240px;
    font-size: 26px;
    text-transform: uppercase;
}

#heart-div {
    margin-top: 5%;
}

.fa-heart:hover {
    color: #dd8f8f;
}

#fit-details-div {
    margin-top: 5%;
}

#fit-details {
    color: black;
    text-align: center;
    line-height: 1.6;
}

#row {
    text-align: center;
}

#shop-main-div {
    margin-bottom: 60px;
}

/* .image-row-one {
    width: 30%;
    display: inline-block;
    padding: 0px 15px;
}

.shirt-thumbnails-div {
    display: inline-block;
    width: 29%;
    margin-left: 2%;
    text-align: center;
}

.shirt-thumbnails {
    display: inline-block;
    width: 10%;
    border-radius: 50%;
} */

/* testing code */

.shirt-div {
    display: inline-block;
    width: 33%;
    margin-bottom: 45px;
}

.image-row-one {
    width: 85%;
}

.shirt-icons-div {
    margin-top: 5%;
}

.shirt-icons {
    display: inline-block;
    width: 10%;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.clothing-title {
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
}

.clothing-price {
    color: black; 
    font-size: 1.2em;
}

/* Rewards Page*/
#rewards-intro {
    color: black;
    text-align: center;
}

#points-container {
    background-color: black;
    margin: auto;
    text-align: center;
    height: auto;
    width: 80%;
}

#hapa-points {
    padding-top: 5px;
}

#point-div-div {
    padding: 0px 20px;
    padding-bottom: 30px;
}

.point-div {
    background-color: #efbcbb;
    color: black;
    display: inline-block;
    width: 30%;
    margin: 15px 15px;
    padding: 15px 0px;
    /* padding: 0;
    margin: 0; */
}

#coupon-div {
    margin: auto;
    margin-top: 50px;
    width: 60%;
}

.coupon-image {
    display: inline-block;
    padding: 10px 0px;
}

/* Login Page */
#account-div {
    height: 65%;
    text-align: center;
}

#login-div {
    width: 35%;
    height: 70%;
    background-color: black;
    display: inline-block;
    margin-right: 50px;
    /* float: left;  */
    /* margin-left: 200px; */
    vertical-align: top;
}

.account-header {
    margin-top: 35px;
    margin-bottom: 25px;
}

.account-input {
    height: 45px;
    width: 400px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

#login-button {
    height: 55px;
    width: 200px;
    color: black;
    background-color: #dd8f8f;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 20px;
    font-weight: bold;
}

#register-button {
    height: 55px;
    width: 250px;
    color: black;
    background-color: #dd8f8f;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 20px;
    font-weight: bold;
}

#create-account-div {
    width: 35%;
    height: 95%;
    background-color: black;
    display: inline-block;
    /* float: right;
    margin-right: 133px; */
}




